@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

/* all styles */
.bg-color {
  background-color: #f7f7f7;
}

.container {
  max-width: 1440px;
  margin: 20px auto;
  padding: 0 20px;
}

.display-flex {
  display: flex;
}

/* btn */
.btn1 {
  background-color: #FEA301;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  font-size: medium;
  font-weight: 1.25rem;

}
.view-all {
 text-align: center;
 margin-top: 30px;
}
.btn2, .viewall-btn {
  background-color: #000000;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  font-size: bold;
  font-weight: 1.25rem;
  margin-top: 10px;

}

/* nav styles */
.navbar {
  
  justify-content: space-between;
  align-items: center;
}

.logo-text {
  align-items: center;
}

.logo-text h1 {
  padding: 10px;
  font-weight: bold;
  font-size: 2rem;
}

.nav-text li {
  list-style: none;
}

li a {
  text-decoration: none;
  padding: 20px;
  font-weight: bold;
}

.home1 {
  color: #FEA301;
}

.home2 {
  color: #01ACFD;
}

.home3 {
  color: #05D4DF;
}

.home4 {
  color: #5D58EF;
}

/* hero section */
.hero-img-img{
  width: 100%;
}
.hero-img-title {
  justify-content: space-between;
  align-items: center;
}
.hero-text {
  margin-right: 10px;
}

.hero-text h1 {
  padding-bottom: 10px;
  font-weight: bold;
}

.hero-text p {
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: normal;
}
.icon{
  display: none;
}

/* nav responsive */
@media screen and (max-width:576px) {

  .logo-text h1,
  .nav-text,
  .btn1 {
    display: none;
  }
  .navbar{
    display: flex;
    justify-content: space-between;
  }

  .hero-img-title {
    flex-direction: column-reverse;
    text-align: center;
  }
  .icon{
    display: flex;
  }
  
}

/* box-content (main-container) */
.bg{
 background-image: url("./assets/bg.png");
 background-size: contain;
 background-repeat: no-repeat;
}
.main-container {
  margin-top: 70px;
}

.main-container h1 {
  padding-bottom: 20px;
}

.box-content {
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.Standard {
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.box-1 {
  justify-content: center;
  align-items: center;
  height: 370px;
  width: 380px;
  padding: 10px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.1), rgba(1, 172, 253, 0.5));
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(207, 207, 207, 0.5);
  text-align: center;
}

.box-1 img,
p,
h1 {
  padding-bottom: 20px;
}

.box-1 h5 {
  font-weight: 600;
  font-size: 20px;
  color: #97c7fb;
}

.box-2 {
  justify-content: center;
  align-items: center;
  height: 370px;
  width: 380px;
  padding: 10px;
  background: linear-gradient(to top, white, rgba(255, 244, 220, 0.5));
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(207, 207, 207, 0.5);
  text-align: center;
}

.box-2 img,
p,
h1 {
  padding-bottom: 20px;
}

.box-2 h5 {
  font-weight: 600;
  font-size: 20px;
  color: #e5a935;
}

.box-3 {
  justify-content: center;
  align-items: center;
  height: 370px;
  width: 380px;
  padding: 10px;
  background: linear-gradient(to top, white, rgba(93, 88, 239, 0.5));
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(207, 207, 207, .5);
  text-align: center;
}

.box-3 img,
p,
h1 {
  padding-bottom: 20px;
}

.box-3 h5 {
  font-weight: 600;
  font-size: 20px;
  color: #e5a935;
}

.next-icon {
  gap: 10px;
  justify-content: center;
  margin-top: 60px;
}

.next {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #FEA301;
  color: white;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.next1{
position: relative;
left: -17px;
top: -6px;

}
.next2{
position: relative;
left: -17px;
top: -6px;

}

/* main box responsive */
@media screen and (max-width: 576px) {
  .box-content{
    display: grid;
    grid-template-columns:1fr;
    justify-items: center;
    justify-content: center;
   

  }
    .box-1 {
      width: 90%;
    }
    .box-2{
      width: 90%;
    }
    .box-3{
      width: 90%;
    }
  .next-icon{
    display: none;
  }
}

/* card-box styles */

.card-title{
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 80px;
}
.card-head{
  background-image: url("./assets/bg.png"), linear-gradient(to bottom, white, rgba(254, 163, 1, 1));
  /* height: 900px;
  width: auto; */
  background-size: contain;
  background-repeat: no-repeat;
  padding: 40px;
}

.card-btn, .card2-box1-btn{
  padding: 10px 15px;
  background-color: #05D4DF;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 1.25rem;
  position: relative;
  left: 20px;
  bottom: 30px;
}
            /* cards box-01 */

.cardbox-1{
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  /* overflow: hidden; */
  max-width: 40%;
  height: 650px;
  text-align: left;
  align-items: center;
  margin-right: 30px;
 
}
.cards{
  margin:auto;
}
.cards img {
  width: 100%;
  /* height: auto; */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.cards-text{
  padding: 25px;
}
.card-pra{
  padding-top: 20px;
}
/* card 2 pard 4 cards styles */
.card2-4box{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.card2-1, .card2-2, .card2-3, .card2-4{
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border: none;
  color: rgb(0, 0, 0);
  font-size: 1.25rem;
}
.card2-1-title1{
  padding: 0 20px;
  font-size: 1rem;
}
/* btn */
.card2-box1-btn{padding: 10px 15px;
background-color: #9cb63c;
border-radius: 5px;
border: none;
color: white;
font-size: 1.25rem;
position: relative;
left: 20px;
bottom: 30px;
}
.card2-box2-btn{padding: 10px 15px;
background-color: #6641ea;
border-radius: 5px;
border: none;
color: white;
font-size: 1.25rem;
position: relative;
left: 20px;
bottom: 30px;
}


/* card rresponsive */

@media screen and (max-width: 576px) {
 .cardbox-1{
  display: none;
 } 
 .card2-box1-btn{
  padding: 5px 7.5px;
  font-size: 7px;
  margin-top: 17px;
  font-weight: normal;
 }
 .card2-box2-btn{
  padding: 5px 7.5px;
  font-size: 7px;
  margin-top: 17px;
  font-weight: normal;
 }
 .card2-1-title1{
  font-size: 9px;
 }
}

/* footer style */

.footer-container{
  background-color: #6ba4f8;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;

}
.footer-logo{
  display: flex;
  padding-bottom: 20px;
}
.footer-img-text{
color: white;
}
.footer-text{
  color: white;
  
}
.footer-text li{
  list-style: none;
  padding: 5px 0;
 
}
.footer-text li a{
 text-decoration: none;
 color: white;
 font-size: 1.25rem;
 font-weight: normal;

 
}
.footer-pra{
  padding-left: 10px;
}
.footer-contact h1{
  color: white;
}

.footer-contact{
  color: white;
  position: relative;
  top: -52px;
}

@media screen and (max-width: 576px) {
  .footer-container{
    flex-direction: column;
   
  }
  .footer-text{
    padding: 0;
    margin: 0;
    position: relative;
    left: -20px;

  }
  .footer-contact{
    margin-top: 80px;
    position: relative;
    left: -20px;


  }
  
}